<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="invitecodes"
          require="package/quiqqer/invitecode/bin/controls/Manager"
          icon="fa fa-code"
    >
        <locale group="quiqqer/invitecode" var="menu.extras.invitecodes.title"/>
    </item>
</menu>